/* ---- New ----- */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-dev {
  height: 380px;
  width: 350px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---- New ----- */

.register {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-dev {
  width: 400px;
  min-height: 400px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.register-form-dev {
  display: flex;
  justify-content: center;
  align-content: center;
}

.register-dev input {
  width: 300px;
  padding: 7px;
  margin: 10px;
  border: none;
  outline: none;
}

.register-dev input:not(.reg-submit-input) {
  border-bottom: 1px solid gray;
}

.reg-submit-input {
  background-color: rgb(214, 214, 214);
  border: none;
  border-radius: 2px;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.reg-submit-input:hover {
  background: rgb(146, 146, 146);
}

.pass-reset-btn {
  margin: 10px;
  color: gray;
}
.pass-reset-btn:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}
.login-pass-show {
  margin-left: -48px;
  cursor: pointer;
  color: rgb(0, 6, 59);
}
.login-pass-show:hover {
  color: rgb(9, 0, 142);
}

@media screen and (max-width: 600px) {
  .register-dev {
    width: 270px;
    height: 400px;
  }
  .register-dev input {
    width: 230px;
  }
}
