/* -------------header style start------------- */

.header-possition {
  margin-top: 15px;
  border-radius: 35px;
}

.header-bg {
  background: rgba(26, 25, 82, 0.278);
  border: 1px solid rgba(158, 158, 158, 0.241);
  /* box-shadow: rgba(120, 120, 175, 0.709) 0px 1px 0px; */
}

.navber-name {
  color: rgb(0, 21, 92) !important;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  font-size: x-large;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.navber-name:hover {
  color: rgb(255, 255, 255);
}

/* -------------header style end------------- */
