.staticContactInfoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  flex-shrink: 0;
  transition: 0.4s;
  cursor: pointer;
}

.staticContactInfoIcon:hover {
  transform: translateY(-10px);
  background-color: white;
  color: rgb(41, 41, 41);
}


