* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --------------ant design focus ------------------ */
.ant-btn:focus,
.ant-btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
/* ------------------------------- */

/* ------------ custom container ------------------ */
.customContainer {
  max-width: 1300px;
  margin: auto;
}
@media screen and (max-width: 1320px) {
  .customContainer {
    margin: 0 10px !important;
  }
}

/* ----------globalSectionHeadline------------- */
.globalSectionHeadline {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
.globalSectionHeadline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 50px);
}
.globalSectionHeadline::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  background: #0563bb;
  bottom: 0px;
   left: calc(50% - 17.5px);
}
/* ------------------globalSectionHeadline----------------------- */

/* react quill padding left for ul */
.react-quill-container ul {
  padding-left: 25px;
  margin: 0;        
}
